<div class="container">

  <h3>Editando Cliente</h3>

  <%# Renderiza formulário %>
  <%= render 'form', client: @client %>

  <%= link_to 'Visualizar', @client %> |
  <%= link_to 'Voltar', clients_path %>

</div>
